{{ define "main" }}
<div class="content">

    <h1 title="{{.Kind}}">Home</h1>

    {{- if .Params.Description -}}
    <div class="space-below" title="Page description"><blockquote>
        {{- .Params.Description | markdownify -}}
    </blockquote></div>
    {{- end -}}

    {{- if .Content -}}{{/* --- Display page content, if any --- */}}
    <div class="content">{{ .Content }}</div>
    {{- end -}}

    {{/* --- List section content for the current section --- */}}
    {{/* --- NOTE that this is very similar to the list.html template but has to use .Site.RegularPages --- */}}
    <div class="articles">
        {{/* NB: .Site.RegularPages auto-filters to the all standard page content */}}
        {{- $paginator := .Paginate (where .Site.RegularPages.ByLastmod.Reverse "Section" "!=" "") -}}
        {{- range  $paginator.Pages -}}
            {{- partial "article-summary.html" . -}}
        {{- end -}}
        {{- template "_internal/pagination.html" . -}}
    </div>

</div>
{{ end }}
