{{ define "main" }}
<div class="content">

    {{- if not .IsHome -}}
    <h1 title="{{.Kind}}">{{ .Title }}</h1>
    {{- end -}}

    {{- if .Params.Description -}}
    <div class="space-below" title="Page description"><blockquote>
        {{- .Params.Description | markdownify -}}
    </blockquote></div>
    {{- end -}}

    {{- if .Content -}}{{/* --- Display page content, if any --- */}}
    <div class="content">{{ .Content }}</div>
    {{- end -}}

    {{/* --- List section content for the current section --- */}}
    <div class="">
        {{/* NB: .Data.Pages auto-filters to the "current" content level */}}
        {{- $paginator := .Paginate (where .Data.Pages "Section" "!=" "") -}}
        {{- range  $paginator.Pages -}}
            {{- partial "article-summary.html" . -}}
        {{- end -}}
        {{- template "_internal/pagination.html" . -}}
    </div>

</div>
{{ end }}
