{{- define "main" -}}

<article class="content">
    <header>
        <h1 class="" title="{{.Kind}}">
            {{ .Title | markdownify }}
        </h1>
        {{ partial "meta-data.html" . }}
    </header>

    {{- if .Params.Description -}}
    <div class="space-below" title="Page description"><blockquote>
        {{ .Params.Description | markdownify }}
    </blockquote></div>
    {{end}}

    {{- with .Content -}}
    <div>
      {{ . | replaceRE "(<h[1-9] id=\"([^\"]+)\".+)(</h[1-9]+>)" `${1}<a href="#${2}" class="hanchor" ariaLabel="Anchor"> 🔗&#xFE0E;</a> ${3}` | safeHTML }}
    </div>
    {{- end -}}
    
    {{- if .IsTranslated -}}
    <h4>{{ i18n "translations" }}</h4>
    <ul>
        {{ range .Translations }}
        <li>
            <a href="{{ .Permalink }}">{{ .Lang }}: {{ .Title }}{{ if .IsPage }}{{ end }}</a>
        </li>
        {{ end }}
    </ul>
    {{- end -}}

    <div class="space-above">{{/* Previous & Next links */}}
        <hr />
        {{- with .PrevInSection -}}
            <div class="is-pulled-left" title="Previous page/article in this section"><a class="prev" href="{{ .Permalink }}"><b>Previous:</b> {{ .Title }}</a></div>
        {{- end -}}
        {{- with .NextInSection -}}
            <div class="is-pulled-right" title="Next page/article in this section"><a class="next" href="{{ .Permalink }}"><b>Next:</b> {{ .Title }}</a></div>
        {{- end -}}
        <div class="is-clearfix"></div>
    </div>
    
    {{- if or (ne ($.Param "sharingicons") false) (.Site.DisqusShortname) -}}
    <hr>
    <footer>
        {{- if (ne ($.Param "sharingicons") false) -}}
            {{- partial "sharing-icons.html" . -}}
        {{- end -}} 
        {{- if and (.Site.DisqusShortname) (ne .Params.comments false) -}}
            {{- template "_internal/disqus.html" . -}}
        {{- end -}}
    </footer>
    {{- end -}}
</article>
{{- end -}}