border-s { border: solid silver 1px }
.navbar-item.is-active { font-weight: bold }
.space-below { margin-bottom: 1em; }
.space-above { margin-top: 1em; }
.follow-me { padding-right:0.25em; }
.hidden { display: none; }
.has-space-right { margin-right: 1em; }
.featured-img { max-width: 50%; }
.featured-img-small { max-width: 20%; }

input:invalid, textarea:invalid {
    border: 1px solid red;
    background-color: rgba(255, 127, 80, 0.05);
}

input:valid {
    border: 2px solid silver;
}

.hanchor { font-size: 100%; visibility: hidden; color:silver;}
h1:hover a, h2:hover a, h3:hover a, h4:hover a { visibility: visible}

/* Fix max width of syntax highlight box */
.highlight { max-width:95%; width: 95%;}
@media screen and (min-width: 769px) {
    .highlight { max-width:95%; width: 95% }
}
@media screen and (min-width: 1088px) {
    .highlight { max-width:678px; width: 678px }
}
@media screen and (min-width: 1280px) {
    .highlight { max-width:822px; width: 822px; }
}
@media screen and (min-width: 1472px) {
    .highlight { max-width:960px; width: 960px; }
}

kbd {
    font-family: Consolas, "Lucida Console", monospace;
    display: inline-block;
    border-radius: 3px;
    padding: 0px 4px;
    box-shadow: 1px 1px 1px #777;
    margin: 2px;
    font-size: small;
    vertical-align: text-bottom;
    background: #eee;
    font-weight: 500;
    color: #555;
    cursor: pointer;
    font-variant: small-caps;
    font-weight: 600;

    /* This two work */
    /* letter-spacing: 0.5px; */
    letter-spacing: 1px;


    /* Prevent selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  kbd:hover, kbd:hover * {
    color: black;
    /* box-shadow: 1px 1px 1px #333; */
  }
  kbd:active, kbd:active * {
    color: black;
    box-shadow: 1px 1px 0px #ddd inset;
  }

  kbd kbd {
    padding: 0px;
    margin: 0 1px;
    box-shadow: 0px 0px 0px black;
    vertical-align: baseline;
    background: none;
  }

  kbd kbd:hover {
    box-shadow: 0px 0px 0px black;
  }

  kbd:active kbd {
    box-shadow: 0px 0px 0px black;
    background: none;
  }

  /* Deep blue */
  kbd.deep-blue, .deep-blue kbd {
    background: steelblue;
    color: #eee;
  }

  kbd.deep-blue:hover, kbd.deep-blue:hover *, .deep-blue kbd:hover {
    color: white;
  }

  /* Dark apple */
  kbd.dark-apple, .dark-apple kbd {
    background: black;
    color: #ddd;
  }

  kbd.dark-apple:hover, kbd.dark-apple:hover *, .dark-apple kbd:hover {
    color: white;
  }

  /* Type writer */
  kbd.type-writer, .type-writer kbd {
    border-radius: 10px;
    background: #333;
    color: white;
  }

sharing {
    overflow:visible;/*width:1.25em;font-size:2em;height:1em;*/
    /*text-align:center;vertical-align: -.125em;display:inline-block;*/
}

#site-nav {
    padding-left:3em;padding-right:3em; 
    background-color:white;
}

#site-header {
    padding-top:2.2em;
}

.navbar-menu .navbar-item {
    line-height: 0.5;
}
.navbar-dropdown>hr {
    margin: 5px 0;
}

body > section.hero > div {
    padding-bottom: 0;
}
body > section.section.container {
    padding-top: 1em;
}
