{{/* Renders a row of icons for common social following sites */}}
{{- if $.Site.Params.followicons -}}
    Follow me on:<br><span class="follow-me" itemscope itemtype="http://schema.org/Organization">
    <link itemprop="url" href="http://julianknight.org">
    {{- with .OutputFormats.Get "rss" -}}
        <a href="{{ .Permalink }}" title="Subscribe to the RSS Feed for this section">
            <i class="fas fa-rss-square fa-2x fa-fw" style="color:#ffa500"></i>
        </a>
    {{- end -}}
    {{- with $.Site.Params.followtwitter -}}<a href="https://twitter.com/{{.}}" title="My Twitter timeline" itemprop="sameAs">
        <i class="fab fa-twitter-square fa-2x fa-fw"></i>
    </a>{{end}}
    {{- with $.Site.Params.followfb -}}<a href="https://www.facebook.com/{{.}}" title="My Facebook timeline" itemprop="sameAs">
        <i class="fab fa-facebook-square fa-2x fa-fw"></i>
    </a>{{end}}
    {{- with $.Site.Params.followgplus -}}<a href="https://plus.google.com/u/0/+{{.}}" title="My Google+ timeline" style="color:#db4437" itemprop="sameAs">
        <i class="fab fa-google-plus-square fa-2x fa-fw"></i>
    </a>{{end}}
    {{- with $.Site.Params.followli -}}<a href="https://www.linkedin.com/in/{{.}}" title="My LinkedIn profile" itemprop="sameAs">
        <i class="fab fa-linkedin fa-2x fa-fw"></i>
    </a>{{end}}
    {{- with $.Site.Params.followgh -}}<a href="https://github.com/{{.}}" title="My GitHub repositories" style="color:black" itemprop="sameAs">
        <i class="fab fa-github-square fa-2x fa-fw"></i>
    </a>{{end}}
    {{- with $.Site.Params.followse -}}<a href="https://stackexchange.com/users/{{.}}" title="My StackExchange profile" itemprop="sameAs">
        <i class="fab fa-stack-exchange fa-2x fa-fw"></i>
    </a>{{end}}
    </span>
{{- end -}}
{{- if $.Site.Params.sharingicons -}}
  <div>
  {{ $pageTitle := (htmlEscape .Title) }}
  {{ $link := .Permalink }}
  {{ $desc := (htmlEscape .Description) }}
    Share/save this page using:<br /><span class="follow-me">
    <a title="Save this page to Pocket" target="blank" rel="nofollow"
       href="https://getpocket.com/save?url={{ $link }}&title={{ $pageTitle }}">
        <em class="fab fa-get-pocket fa-2x fa-fw"></em>
    </a>
    <a title="Share this page via email" target="blank" rel="nofollow"
       href="mailto:?subject={{ $pageTitle }}&body={{ $pageTitle }}%0A%0A{{ $desc }}%0A%0Avia {{ $link }}%0A%0">
        <em class="fas fa-envelope-square fa-2x fa-fw"></em>
    </a>
    <a title="Tweet a link to this page" target="blank" rel="nofollow"
       href="https://twitter.com/share?url={{ $link }}&text={{ $pageTitle }}{{ with $.Site.Params.followtwitter }}&via={{ . }}{{ end }}">
        <em class="fab fa-twitter-square fa-2x fa-fw"></em>
    </a>
    <a title="Share this page on Google+" class="googleplus" target="blank" rel="nofollow"
       href="https://plus.google.com/share?url={{ $link }}&title={{ $pageTitle }}">
        <em class="fab fa-google-plus-square fa-2x fa-fw"></em>
    </a>
    <a title="Share this page on LinkedIn" target="blank" rel="nofollow"
       href="https://www.linkedin.com/shareArticle?mini=true&url={{ $link }}&title={{ $pageTitle }}&source={{ $.Site.BaseURL }}&summary={{ $desc }}">
        <em class="fab fa-linkedin fa-2x fa-fw"></em>
    </a>
    <a title="Share this page on Reddit" target="blank" rel="nofollow"
       href="https://www.reddit.com/submit?url={{ $link }}&title={{ $pageTitle }}">
        <em class="fab fa-reddit fa-2x fa-fw"></em>
    </a>
    <a title="Share this page on Facebook"  target="blank" rel="nofollow"
       href="https://www.facebook.com/sharer/sharer.php?u={{ $link }}">
        <em class="fab fa-facebook-square fa-2x fa-fw"></em>
    </a></span>
  </div>
{{- end -}}
