{{/* Show Section, Categories and Tags for this page.
   * Used in list.html>article-summary.html and single.html>meta-data.html
   * Dependencies: Bulma CSS and FontAwesome
   */}}
<br />
{{- if ne .Section .Name -}}
    <span title="Section">
        {{/*<em class="far fa-folder-open"></em> */}}&#x1F4D6; <a href="/{{.Section | urlize }}">{{.Section | title}}</a>
    </span>
{{- end -}}
 | <span title="Categories">{{/*<em class="fas fa-list-alt"></em> */}}&#x1F4CE;
    {{- $.Scratch.Set "l1" slice -}}
    {{ if .Params.categories }}
        {{- range $cat := .Params.categories }}
            {{ $t1 := (printf "<a href='/categories/%s'>%s</a>" ($cat | urlize) $cat) }}
            {{ $.Scratch.Add "l1" (slice $t1) }}
        {{- end -}}
        {{ delimit ($.Scratch.Get "l1") ", " }}
    {{- else -}}
        None
    {{- end -}}
</span>
 | <span title="Tags">{{/*<em class="fas fa-tags"></em> */}}&#x1F516;
    {{- $.Scratch.Set "l2" slice -}}
    {{- if .Params.tags -}}
        {{- range $tag := .Params.tags }}
            {{ $t2 := (printf "<span><a href='/tags/%s'>%s</a></span>" ($tag | urlize) $tag) }}
            {{ $.Scratch.Add "l2" (slice $t2) }}
        {{- end -}}
        {{ with ($.Scratch.Get "l2") }}{{ delimit . ", " }}{{ end }}
        {{ $.Scratch.Delete "l2" }}
    {{- else -}}
        None
    {{- end -}}
</span>
