{{ $sbWidth := $.Site.Params.sidebarWidth | default 3 }}
{{- if $.Site.Params.sidebarSide }}
<div class="column is-{{ $sbWidth }} section">
    {{- if .Site.Params.Debug -}}{{- partial "debug-short-sidebar.html" . -}}{{- end -}}
    {{- block "sidebar-top" . -}}
        <div class="space-below">{{/* Output link to RSS feed if available for this page */}}
            {{- partial "follow-me-icons.html" . -}}
        </div>
    {{- end -}}
    {{/* Stack Exchange image */}}
    {{- with $.Site.Params.seflair -}}
    <div class="space-below">
        <a href="https://stackexchange.com/users/{{.}}">
            <img src="https://stackexchange.com/users/flair/{{.}}.png"
                alt="Stack Exchange flair image" 
                title="Link to my profile on Stack Exchange, a network of free, community-driven Q&amp;A sites" />
        </a>
    </div>
    {{- end -}}
    {{/* Tag Cloud */}}

    {{/* No more twitter timeline for now - too slow and causing GDPR issues }}
    {{- if $.Site.Params.twitterUser -}}
    {{- partial "twitter-timeline.html" . -}}
    {{- end -}}
    {{ */}}
    
    {{- block "sidebar-bottom" . -}}
    {{- end -}}
</div>
{{- end -}}