{{ $sbWidth := $.Site.Params.sidebarWidth | default 3 }}
{{- if $.Site.Params.sidebarSide }}
<div class="column is-{{ $sbWidth }} section">
    {{ block "sidebar-top" . }}{{end}}
    <div>
        <a href="https://stackexchange.com/users/1375993/julian-knight">
            <img src="https://stackexchange.com/users/flair/1375993.png" width="208" height="58" 
                alt="profile for Julian Knight on Stack Exchange, a network of free, community-driven Q&amp;A sites" 
                title="profile for Julian Knight on Stack Exchange, a network of free, community-driven Q&amp;A sites" />
        </a>
    </div>
    {{- if $.Site.Params.twitterUser }}
    {{ partial "twitter-timeline.html" . }}
    {{end}}
    {{ block "sidebar-bottom" . }}
    <div>
        <a href="https://www.techdirt.com/netdeclaration"><img src="/images/net-declaration.png" title="Declaration of Internet Freedom" width="560" height="823" /></a>
    </div>
    {{end}}
</div>
{{end}}