{{ define "main" }}

<article class="blog-post">
    <header>
        <h2 class="blog-post-title">Page Not Found</h2>
    </header>
    <p>
        Sorry, that page was not found.
    </p>
    <p>
        If the link ends with ".html", you might like to try again without that in case the URL's have changed.
    </p>
    <p>
        If you are looking for an RSS/ATOM feed, please note that the link has changed from <code>.../feed</code> to <code>.../feed.xml</code>.
        Alternatively, look for the RSS icon that appears in the sidebar wherever a feed is available (home page, categories, etc).
    </p>
    <p>
        Go back
        <a href="{{ "/" | relURL }}">home</a>.
    </p>
</article>

{{ end }}